body {
  font-family: "Arial";
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.navigation {
  width: 100%;
  background-color: #9E7E38;
  height: 70px;
  float: left;
}

.navigation a {
  color: black;
}

.navigation a:hover {
  color: gray;
}

.six {
  width: 60%;
  display: block;
  float: left;
}

.four {
  width: 40%;
  display: block;
  float: left;
}

table {
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  background-color: #9E7E38;
  padding: 40px 0;
}
