body {
  font-family: "Arial";
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  min-height: 81%;
}

.navigation {
  width: 100%;
  background-color: #EEEEEE;
  height: 50px;
  line-height: 100%;
  float: left;
  margin-bottom: 20px;
}

.navigation a {
  color: #444;
  text-decoration: none;
}

.navigation a:hover {
  color: gray;
}

table {
  width: 100%;
}

td {
}

th {
  text-align: left;
}

ul, li {
  list-style: none;
}

.box {
  border: 1px solid #F2F2F2;
  padding: 1px;
  margin: 3px;
  width: 60%;
  background-color: #EEEEEE;
}

.delete {
  color: red;
}

a {
  text-decoration: none;
  color: #3BB9FF;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  background-color: #EEEEEE;
  padding: 40px 0;
}

input[type="text"], input[type="email"], select, input[type="submit"]{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #EEEEEE;
  background-color: #F2F2F2;
}

label {
  color: #666;
  padding-top: 5px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}